/bin/

# Visual Studio Code
/.vscode/
/src/.vscode/

# Jetbrains IDEs (e.g. Intellij)
/.idea/
*.iml

# Go packages, e.g. when Visual Studio Code is run from the base folder, not src
/pkg/

# Go checksum requirements can change due to portage rebuilds, so avoid adding to git
**/go.sum

# Emacs
*~

# Code Coverage Results
/coverage_result/
